<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="body">
        <header class="col-md-12">
            <img src='../../assets/clouds-2517653_960_720.jpg' alt="">
        </header>
        <h1 class="text">Groups</h1>
        <main class="col-md-12 row " >
            
                <div class="col-md-3 mx-auto" >
                    <div class="card" >
                        <p class="category">Category</p>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Cras justo odio</a> </li>
                                <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
                                <li class="list-group-item"><a href="#">Morbi leo risus</a></li>
                                <li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                                <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
                              </ul>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="card">
                       <p class="category">My Group</p>
                        <div class="card-body">
                          <div class="row">
                              <div class="col-md-4 food">
                                <img src='../../assets/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg' alt="">
                                <p class="foodname">ABC Chruch</p>
                                <p>Bangalore,INDIA</p>
                              </div>
                              <div class="col-md-4 food">
                                <img src='../../assets/clouds-2517653_960_720.jpg' alt="">
                                <p class="foodname">Michale</p>
                                <p>Bangalore,INDIA</p>
                              </div>
                              <div class="col-md-4 food">
                                <img src='../../assets/download (1).jpg' alt="">
                                <p class="foodname">John</p>
                                <p>Bangalore,INDIA</p>
                              </div>

                          </div>
                          <div class="row">
                            <div class="col-md-4 food">
                              <img src='../../assets/download (3).jpg' alt="">
                              <p class="foodname">Drake</p>
                              <p>Bangalore,INDIA</p>
                            </div>
                            <div class="col-md-4 food">
                              <img src='../../assets/download (2).jpg' alt="">
                              <p class="foodname">Post malone</p>
                              <p>Bangalore,INDIA</p>
                            </div>
                            <div class="col-md-4 food">
                              <img src='../../assets/download.jpg' alt="">
                              <p class="foodname">Broke</p>
                              <p>Bangalore,INDIA</p>
                            </div>

                        </div>
                        </div>
                      </div>
                      <div class="card mt-4">
                        <p class="category">Popular Groups near you</p>
                         <div class="card-body">
                           <div class="row">
                               <div class="col-md-4 food">
                                 <img src='../../assets/images.jpg' alt="">
                                 <p class="foodname">Sam</p>
                                 <p>Bangalore,INDIA</p>
                               </div>
                               <div class="col-md-4 food">
                                 <img src='../../assets/download (1).jpg' alt="">
                                 <p class="foodname">Rocky</p>
                                 <p>Bangalore,INDIA</p>
                               </div>
                               <div class="col-md-4 food">
                                 <img src='../../assets/download (3).jpg' alt="">
                                 <p class="foodname">Froad</p>
                                 <p>Bangalore,INDIA</p>
                               </div>
 
                           </div>
                           <div class="row">
                             <div class="col-md-4 food">
                               <img src='../../assets/download (2).jpg' alt="">
                               <p class="foodname">Gaxy</p>
                               <p>Bangalore,INDIA</p>
                             </div>
                             <div class="col-md-4 food">
                               <img src='../../assets/clouds-2517653_960_720.jpg' alt="">
                               <p class="foodname">Xazy</p>
                               <p>Bangalore,INDIA</p>
                             </div>
                             <div class="col-md-4 food">
                               <img src='../../assets/download (2).jpg' alt="">
                               <p class="foodname">Michalee</p>
                               <p>Bangalore,INDIA</p>
                             </div>
 
                         </div>
                         </div>
                       </div>
                </div>
                <div class="col-md-3 mx-auto">
                    <div class="card">
                       <p class="category">Suggested Group</p>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item suggest"><img src="../../assets/download (4).jpg" alt=""> <a href="#">Cras justo odio</a> </li>
                                <li class="list-group-item suggest"><img src="../../assets/download (5).jpg" alt=""> <a href="#">Dapibus ac facilisis in</a>  </li>
                                <li class="list-group-item suggest"><img src="../../assets/download (6).jpg" alt=""> <a href="#">Morbi leo risus</a> </li>
                                <li class="list-group-item suggest"><img src="../../assets/images (1).jpg" alt=""><a href="#">Porta ac consec</a> </li>
                                <li class="list-group-item suggest"><img src="../../assets/download (1).jpg" alt=""><a href="#">Vestibulum at eros</a> </li>
                              </ul>
                        </div>
                      </div>
                </div>
        </main>
    </section>
</body>
</html>
